<!DOCTYPE html>
<html>
<head>
  <title>Demoapp</title>
  <%= cdnjs_include_tag Rails.application.config.cdnjs %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
